$primary-color: #fac564;
$custom-dark: black;
$custom-light: #f5f5f5;
$custom-grey: #333;

a.logo {
  color: white;
  &:hover {
    color: white;
  }
}

nav {
  background-color: $custom-dark;
  color: $custom-light;
  ul {
    li {
      &:hover {
        background-color: $custom-grey;
      }
      a {
        color: $custom-light;
      }
    }
  }
}

section#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/bg_1.jpg");
  color: $custom-light;
  .container {
    .hero-content {
      .cta-buttons {
        .cta-primary {
          background-color: $primary-color;
          color: $custom-dark;
          &:hover {
            background-color: $primary-color;
          }
        }
        .cta-secondary {
          background-color: transparent;
          color: $custom-light;
          &:hover {
            background-color: $custom-light;
            color: $custom-dark;
          }
        }
      }
    }
  }
}

section#menu {
  background-color: $custom-dark;
  color: $custom-light;

  .container {
    ul {
      li {
        a {
          color: $custom-light;
        }
      }
    }
  }
  .menu-tabs {
    background-color: $custom-dark;

    li {
      .active {
        background-color: $primary-color;
      }
    }
  }
  .menu-tab {
    background-color: transparent;
    color: $custom-light;
  }
}

section#contact {
  background-color: $primary-color;
}

footer {
  background-color: $custom-dark;
  color: $custom-light;
}
.menu {
  .menu-tab {
    .menu-table {
      table {
        p {
          color: grey;
        }
      }
    }
  }
}
